importFrom("graphics", plot)

export("OC2c","OCvar")

exportClasses("OC2c",
              "OCbinomial",
              "OChypergeom",
              "OCpoisson")

exportClasses("OCvar",
              "OCnormal")

exportMethods("plot",
              "show",
              "summary",
              "assess")

export("find.plan")
